.mt-00 {
  margin-top: 80px;
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 50px;
}

.icon-motto {
  width: 75px;
}

.card-motto {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin: 0 15px;
  padding: 20px;
}
